div(@hide-modal-window="hideModalWindow")
    a.trigger-pick-language-block(
        v-show="displayChooseLangButton"
        @click.stop="displayPickLanguageBlock"
    )
        span.trigger-pick-language-block__button-text Язык
    //- Позиционируется фиксированно
    modal-window(:stateVisible="pickLanguageBlockShown")