nav.page-navigation(v-show="isShown")
    ul.navigation-menu(@click="updateActiveMenuItems")
        li(
        v-for="(item, index) in menuItems"
        :class="{'navigation-menu__menu-item': true, 'navigation-menu__menu-item--is-current': item.isCurrent}"
        :key="index"
        @click="$emit('goToSection', item.text)"
        )
            a.navigation-menu__menu-link(:href="item.hash")
                span {{ item.text }}
        li.secondary-menu-wrapper
            a.trigger-additional-menu-btn(
            :class="{'trigger-additional-menu-btn--is-clicked': secondaryMenuOpened}"
            @click.stop="secondaryMenuOpened = !secondaryMenuOpened"
            @hidePickLanguageBlock=""
            )
                i.icon-dot
                i.icon-dot
                i.icon-dot
            SecondaryNavbarMenu(v-show="secondaryMenuOpened")
