@mixin centrifyBlock() {
  margin: 0 auto;
}

@mixin reset-pad-marg() {
  padding: 0;
  margin: 0;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin list-padding($top, $bottom, $left, $right) {
  padding-top: $top * 1px;
  padding-bottom:  $bottom * 1px;
  padding-left: $left * 1px;
  padding-right: $right * 1px;
}

@mixin graphSoftwareRules($color, $bg, $border-color: false) {
  @if ($border-color: false) {
    border: 2px solid $color;
    color: $color;
    background-color: $bg;
  }
  @else {
    border: 2px solid $border-color;
    color: $color;
    background-color: $bg;
  }
}

@mixin button-style($border-radius, $color, $bg: null, $shadow...) {
  @include border-radius($border-radius);
  padding: 10px 15px;
  color: $color;
  @if ($bg != null) {
    background-color: $bg;
  }
  @if ($shadow != null) {
    @include box-shadow($shadow);
  }
}