$site-bg: #1e1e1e;
$menu-link-color: #868585;
$secondary-menu-bg: #ffffff;
$pick-lang-block-min-width: 230px;
$dialog-font-color: rgba(0,0,0,.6);
$inactive-icon-color: #77777796;
$active-icon-color: #000000;
$block-title-color: #ffffff;
$block-description-color: #ffffff;
$project-card-bg: #ffffff;
$project-card-color: #ffffff;
$checkout-project-link-color: #ffffff;
$close-project-btn-bg: #e4e4e4;
$volume-link-light-bg: #ffffff;
$volume-link-dark-bg: #000000;
$cv-item-text-color: #000000;
$cv-list-item-bg: #f1f1f1;
$cv-item-dumb-link-bg: #b3b3b35e;
$cv-list-item-color: #000000;
$cell-list-item-bg: #e0e0e0;

// CV cells bg
$html5-bg: #f93200;
$css3-bg: #0098d8;
$javascript-bg: #f7e600;
$vue-bg: #00c084;
$less-bg: #1b4276;
$sass-bg: #e05497;
$pug-bg: #ffd69b;

$photoshop-color: #00c9ff;
$photoshop-bg: #001d27;
$illustrator-color: #ff7100;
$illustrator-bg: #291200;
$sketchapp-color: #ffd600;
$sketchapp-bg: #ffffff;
$figma-bg: #282828;
$figma-color: #d0d0d0;