$site-bg: #1e1e1e;
$menu-link-color: #868585;
$secondary-menu-bg: #ffffff;
$pick-lang-block-min-width: 230px;
$dialog-font-color: rgba(0,0,0,.6);
$inactive-icon-color: #77777796;
$active-icon-color: #000000;
$block-title-color: #ffffff;
$block-description-color: #ffffff;
$project-card-bg: #ffffff;
$project-card-color: #ffffff;
$checkout-project-link-color: #ffffff;
$close-project-btn-bg: #e4e4e4;
$volume-link-light-bg: #ffffff;
$volume-link-dark-bg: #000000;