// Base styles for the website start here
$site-bg: #ecf0f2;
$large-component-border-radius: 12px;
$medium-component-border-radius: 5px;
$small-component-border-radius: 13px;
$primary-bg-color: #f9aa33;
$primary-text-color: #232f34; //800
$primary-color: #344955; //700
// Base styles for the website end here

// Text styles start here
$title-light-color: #232f34;
$title-dark-color: #ecf0f2;
$block-description-light-color: #324247;
$block-description-dark-color: #bbbfc1;
// Text styles end here

//Card styles start here
$card-bg-light: #ffffff;
$card-bg-dark: #344955;
$card-title-color-light: #232f34;
$card-title-color-dark: #ecf0f2;
$card-description-color-dark: #bdc3c5;
$card-description-color-light: #384c52;
//Card styles end here

// List styles start here
$list-item-dark-bg: #232f34;
$list-item-light-bg: #f1f1f1;
$list-item-dark-color: #d4d4d4;
$list-item-light-color: #232f34;
// List styles end here

// Contained-button styles start here
$contained-button-light-bg: #ffffff;
$contained-button-dark-bg: $primary-color;
$contained-button-dark-color: #ffffff;
$contained-button-clicked-color: #f9aa33;
// Contained-button styles end here

// Text-button styles start here
$text-button-light-color: #bbbbbb;
$text-button-light-color-hover: #ffffff;
$text-button-dark-color: #232f34;
$text-button-clicked-color: #f9aa33;
// Text-button styles end here

// Header variables start here
$navbar-bg: #232f34;
$menu-link-color: #bbbbbb;
$menu-item-font-size-mobile: 1.2em;
$menu-item-font-size-tablet: 1.4em;
$active-menu-link-color: #f9aa33;
$secondary-menu-bg: #ffffff;
$pick-lang-block-min-width: 250px;
$dialog-font-color: rgba(0,0,0,.6);
$inactive-icon-color: #77777796;
$active-icon-color: #000000;
// Header variables end here

// Project
$project-card-bg: #ffffff;
$project-card-color: #ffffff;
$checkout-project-link-color: #ffffff;
$close-project-btn-bg: #e4e4e4;
$volume-link-light-bg: #ffffff;
$volume-link-dark-bg: #000000;
$cv-item-text-color: #000000;
$cv-list-item-bg: #f1f1f1;
$cv-item-dumb-link-bg: #b3b3b35e;
$cv-list-item-color: #000000;
$cell-list-item-bg: #e0e0e0;

// Footer styles start here
$footer-text-color: #bbbbbb;
// Footer styles end here

// Dialog window styles start here
$dialog-window-light-bg: #ffffff;
$dialog-window-dark-bg: #344955;
$dialog-window-light-color: #232f34;
$dialog-window-dark-color: #ecf0f2;
$dialog-window-btn-bg: #f9aa33;
$dialog-window-btn-color: #232f34;
// Dialog window styles end here

// CV cell-list items styles start here
$html5-bg: #f93200;
$css3-bg: #0098d8;
$javascript-bg: #f7e600;
$vue-bg: #00c084;
$less-bg: #1b4276;
$sass-bg: #e05497;
$pug-bg: #ffd69b;
// CV cell-list items styles end here

$photoshop-color: #00c9ff;
$photoshop-bg: #001d27;
$illustrator-color: #ff7100;
$illustrator-bg: #291200;
$sketchapp-color: #ffd600;
$sketchapp-bg: #ffffff;
$figma-bg: #282828;
$figma-color: #d0d0d0;
// CV cell-list items styles end here

//social links bg
$github-social-link-bg: #24292e;